<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="new_type_ticket_price"
      name="new_type_ticket_price"
      placeholder="new_type_ticket_price"
      value="{{this.new_type_ticket_price}}"
    />
    <label for="new_type_ticket_price">new_type_ticket_price</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="new_type_ticket_quantity"
      name="new_type_ticket_quantity"
      placeholder="new_type_ticket_quantity"
      value="{{this.new_type_ticket_quantity}}"
    />
    <label for="new_type_ticket_quantity">new_type_ticket_quantity</label>
  </div>
</div>